#profilepic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  float: left;
  margin-right: 10px;
}
.username {
  font-weight: bold;
}
em {
  color: red;
  font-style: normal;
}
#heropic {
 width: 400px; 
 height: 200px;
 display: grid;
 justify-self: center;
}
header {display: grid;
justify-self: center;
background-color: aqua;
}
