h1 {
  font-size: 6rem;
  font-style: italic;
  background-color: rgb(209, 209, 188);
  text-align: center;
  flex-grow: 1;
  padding: 3rem;
  margin: 2rem;
  color: coral;
}
header {
  width: 100%;
  text-align: center;
  position: sticky;
  padding: 0px;
}
nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 0.5fr));
  justify-content: space-evenly;
  height: auto;
  height: 3rem;
  background-color: rgba(13, 13, 7, 0.551);
  align-items: center;
}

a:visited {
  color: aquamarine;
}
a:link {
  color: violet;
}
a:hover {
  color: slategray;
  border-style: dashed;
  border-radius: 3px;
  border-color: black;
  padding: 12px;
}
p {
  max-width: 100%;
  font-style: arial;
  font-size: 20px;
  padding: 5px;
}
#heropicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  
}
#profilepicture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  float: left;
  margin-right: 100px;
}
.username {
  font-weight: bold;
}
em {
  color: rgb(133, 0, 0);
  font-style: normal;
}
#dead_tree {
  width: 100px;
  height: 200px;
}
footer {
  background-color: grey;
  height: 200px;
}
body {
  background-color: rgb(245, 245, 220);
  padding: 05rem;
}